.div-projets {
  font-family: "vcr";
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;    
  position: relative;    
}

.div-projets > h2::before {
  position: absolute;
  content: ""; 
  top: 0px; 
  width: 90%;
  height: 3px;
  background: black;
  transform: translateX(5%);
}

.div-projets > h2 {
  text-align: left;
  font-size: 2.5rem;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  letter-spacing: 5px;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgb(255, 255, 255); 
  
}
.div-projets > h1 {
  text-align: center;
  font-size: 4.5rem;  
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  letter-spacing: 5px;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
}
.div-projets > h4 {
  text-align: right;
  background: white;  
  padding: 5px 40px 5px 0;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);  
}

.div-projets:hover {
    background: var(--red50);        
}

.div-projets > h1 {
    cursor: pointer;    
}

