/* //* Colors // */
:root{
    --red: #a30a2e;
    --red50: rgba(143, 26, 54, 0.57);
    --black: #000000;    
}

/* //* ROOT // */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    list-style: none;    
}