/* //* Colors // */
:root{
    --red: #a30a2e;
    --red50: rgba(143, 26, 54, 0.57);
    --black: #000000;
    --green: rgba(180, 20, 172, 0.5);    
}

/* //* Fonts // */
@font-face {
    font-family: "vcr";
    src: url("./assets/fonts/VCR.ttf");        
}

/* //* ROOT // */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;        
}

