/* //* Fonts // */
@font-face {
  font-family: "vcr";
  src: url("../../assets/fonts/VCR.ttf");
}
/* //- section main // */

.main {
  width: 100%;
  height: 43vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--black);
}

.main p {
  margin: 0;
  display: flex;
  font-family: var(--font-titi);
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  text-align: right;
  width: 90%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

/* //- section main // */
.banner {
  background: var(--red);
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--black);
}

.banner h1 {
  margin: 0;
  text-align: center;
  font-size: 250px;
  letter-spacing: 50px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  font-family: "vcr";
  -webkit-text-stroke: 5px black;
}

.projectComponent {
  height: auto;
  display: flex;
  flex-direction: column;
  background: url("../../assets/images/tv-noise.webp") fixed;
  border-bottom: 3.5px solid black;
}

/* //- section resume // */
.resumeSection {
  height: auto;
  position: relative;
}

.skillsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo p {
  font-family: var(--font-titi);
  font-size: 35px;
  font-style: italic;
  font-weight: 100;
  width: 600px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.photo img {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.photo h4 {
  font-family: var(--font-titi);
  font-weight: 600;
}

.photo p:last-child {
  font-family: var(--font-titi);
  font-size: 18px;
  margin: 0;
  font-weight: 100;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.first h4 {
  font-family: "vcr";
  font-weight: 300;
  text-decoration: underline;
}
.first ul {
  list-style: none;
  font-family: var(--font-titi);
}
.first ul li {
  margin-bottom: 5px;
}
.second h4 {
  font-family: "vcr";
  font-weight: 300;
  text-decoration: underline;
}
.second ul {
  list-style: none;
  font-family: var(--font-titi);
}
.second ul li {
  margin-bottom: 5px;
}

/* //- section resumeContainer // */

.resumeContainer {
  width: 60%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  margin-top: 20px;
}

.resume {
  position: relative;
  font-family: var(--font-titi);
  width: 100%;
  height: 70px;
  transition: 0.5s;
}
.resume:hover {
  background: var(--red);
}
.resume::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: black;
}
.resume::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: black;
}

.resumeOpen {
  position: relative;
  font-family: var(--font-titi);
  width: 100%;
  height: 145px;
  transition: 0.5s;
}
.resumeOpen:hover {
  background: var(--red);
}
.resumeOpen::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: black;
}
.resumeOpen::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: black;
}

.titleYear {
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.titleYear:hover {
  cursor: pointer;
  color: white;
}

.titleYear > h3 {
  font-weight: 700;
  padding: 0 20px;
}

.hideParagraph {
  display: none;
  visibility: 0;
  transition: 1s;
}

.visibleParagraph {
  display: block;
  width: 65%;
  visibility: 1;
  transition: 1s;
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 30px;
  margin: 0;
}

/* //- Contact // */
.contactContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contactContainer > a {
  text-decoration: none;
}

.contactContainer > a > h1 {
  text-align: right;
  color: black;
  font-family: var(--font-titi);
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 8px;
  padding-right: 30px;
  transition: 0.5s;
}

.contactContainer > a > h1:hover {
  text-decoration: 2px underline var(--red);
  text-underline-offset: 8px;
  color: var(--red);
  font-weight: 200;
  transition: 0.5s;
}

.contactContainer > h1 {
  font-size: 70px;
  letter-spacing: 10px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  font-family: "vcr";
  -webkit-text-stroke: 2px black;
  padding-left: 30px;
}

.contactContainer > h1 > svg {
  transform: translate(100%, -60%);
  color: black;
}

.svg {
  position: absolute;
  bottom: 0;
  right: 0;
}
.svg:hover{
  animation: arrow 2s ease 0s 1 normal forwards;

}
@keyframes arrow {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(15px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(16px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}